Package: com.dpkgdan.batteryhider
Name: Battery Hider
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A Mobile Substrate extension to hide the battery icon in the status bar.
Maintainer: Dan Saba
Author: Dan Saba
Section: Tweaks
Version: 1.0.1-1
Installed-Size: 72
