Package: com.dpkgdan.batteryhider
Name: Battery Hider
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: A Mobile Substrate extension to hide the battery icon in the status bar.
Maintainer: Dan Saba
Author: Dan Saba
Section: Tweaks
